<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Аптека <a href="https://localhost:44373/">Головна сторінка</a>  <a href="https://localhost:44373/Home/NameAndPrice">Автомобільна аптечка</a>   <a href="https://localhost:44373/Home/DemoArray">Ціни на ліки</a></h1>
        <div style="padding: 20px; border: solid medium black; font-size: 20pt">
            @RenderBody()
            
        </div>
        <h2> <a href="https://moz.gov.ua/">МОЗ</a></h2>
    </div> 
</body>
</html>