@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>@Resources.Resource.Zag</h2>
    <p class="lead"></p>
    <p><a href="/Car/Index" class="btn btn-primary btn-lg">@Resources.Resource.Zag_Knop &raquo;</a>
</div>
