@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Увага доступ до додатку мають тільки авторизовані користувачі!!</h2>
    <p class="lead"></p>
    <p><a href="/Car/Index" class="btn btn-primary btn-lg">Розпочати роботу &raquo;</a>
</div>
