@model CarShop.Models.Car
@{
    ViewBag.Title = " Додавання Автомобіля ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Додавання нового автомобіля </h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Автомобіль</legend>
        <p>
            Марка та модель <br />
            @Html.EditorFor(model => model.Name)
        </p>
        <p>
            Рік виробництва <br />
            @Html.EditorFor(model => model.Age)
        </p>
        <p>
            Ціна <br />
            @Html.EditorFor(model => model.Prise)
        </p>
        <p>
            Салон <br />
            @Html.DropDownListFor(model => model.SalonId,
            ViewBag.Salons as SelectList)
        </p>
        <p>
            <input type="submit" value="Добавити Автомобіль " />
        </p>
    </fieldset>
}
